body{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    background: linear-gradient(#0f866d, #1390e4);
    font-family: 'Times New Roman', Times, serif;
}
.block{
    height: 20%;
    width: 100%;
    position: absolute;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    
}
.imagen{
    position: absolute;
    z-index: 1;
    left:3%;
    max-width: 100%;
    height: auto;
    
}
.calendario{
    position: absolute;
    left: 80.5%;
    top: 14%;
    max-width: 100%;
    height: auto;

}
.reloj{
    position: absolute;
    left: 94%;
    top:16%;
    max-width: 100%;
    height: auto;
}
.usuario{
    position: absolute;
    left: 85%;
    top:48%;
    max-width: 100%;
    height: auto;
    
}
.flechaA{
    position: absolute;
    left: 95.7%;
    top:8%;
    cursor: pointer;
    visibility: hidden;
    
}
.botonUsuario{
    background:    #ffffff;
    border:        1% solid #2b86da;
    border-radius: 1%;
    padding:       0.5% 2%;
    font:          normal bold 0.8vw/1 "Open Sans", sans-serif;
    text-align:    right;
    text-decoration: none;
    position: absolute;
    left: 87.5%;
    top: 43%;
    max-width: 100%;
    height: auto;
}
.acerca{
    color: turquoise;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.8vw;
    position: absolute;
    left: 74%;
    top: 50%;
    text-decoration: none;
    max-width: 100%;
    height: auto;
}
#box {
    font-family: 'Arial', sans-serif;
    position: absolute;
    font-weight: bold;
    font-size: 0.8vw;
    left: 75%;
    top:14%;
    max-width: 100%;
    height: auto;
  }

#box-date {
    margin: 4% 0;
    display: block;
    max-width: 100%;
    height: auto;
  }
  
#box-date span {
    color: #848d95;
    font-size: 80%;
    max-width: 100%;
    height: auto;
  
}
  
#box-time {
    color: #848d95;
    font-size: 120%;
    display: block;
    position: fixed;
    left: 88%;
    top: 3%;
    max-width: 100%;
    height: auto;
  }
  
span.hm-time, span.s-time {
    padding: 8% 7%;
    border-radius: 1%;
  }
  
  /* Aquí se cambia el color de fondo de las horas y los minutos */
span.hm-time {
    background: #24AADD;
    color: #FFF;
  }
  
  /* Aquí se cambia el color de fondo de los segundos */
span.s-time {
    background: #E5E5E5;
  }
  
span.f-time {
    font-size: 0.8vw;
  }
.bloque{
    position: absolute;
    display: flex;
    left: 20%;
    top:45%;
    background-color: white;
    width: 55%;
    height: 50%;
    border: 2px solid black;
    font-weight: bold;
    font-family: fantasy;
    font-size: 1vw;      
}
.elementoAdd{
    position: absolute;
    top: 23%;
    left: 43%;
    max-width: 100%;
    height: auto;
}
input[type=text] {
    border: 1px solid #ccc;
    border-radius: 2%;
    box-sizing: border-box;
  }

input[type=submit] {
    background-color:#44c767;
	border-radius: 23%;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1vw;
	padding:1% 3%;
	text-decoration:none;
    z-index: 1;

  }
  .buttonAtras{
    background-color:#44c767;
	border-radius:23%;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1vw;
	padding:1% 3%;
	text-decoration:none;
    position: absolute;
    left:70%;
    top:85%;
}
.enviar{
    position: absolute;
    top:85%;
    left:55%;
}
.atrás{
    position: absolute;
    top:85%;
    left:70%;
}

.results{
    position: absolute;
    top:5%;
    left:70%
}
.error{
    color: red;
}

