body{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    background: linear-gradient(#0f866d, #1390e4);
    font-family: 'Times New Roman', Times, serif;
}

.propiedades {
    position: relative;
    display: contents;
    color: white;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
    align-self: center;
}
.propiedades p {
    color: #54f124;
}
.propiedades label {
    color: #54f124;
}

.buttons label{
    color: white;
}
.mascota{
    align-self:flex-end;
}

div.error {
	color : red;	
	border : 2px solid red;
	padding : 10px;
	margin: 10px;
}