body{
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  background: linear-gradient(#0f866d, #1390e4);
  font-family: 'Times New Roman', Times, serif;
}
.block{
  height: 20%;
  width: 100%;
  position: absolute;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  
}
.imagen{
  position: absolute;
  z-index: 1;
  left:3%;
  max-width: 100%;
  height: auto;
  
}
.calendario{
  position: absolute;
  left: 80.5%;
  top: 14%;
  max-width: 100%;
  height: auto;

}
.reloj{
  position: absolute;
  left: 94%;
  top:16%;
  max-width: 100%;
  height: auto;
}
.usuario{
  position: absolute;
  left: 85%;
  top:48%;
  max-width: 100%;
  height: auto;
  
}
.flechaA{
  position: absolute;
  left: 95.7%;
  top:8%;
  cursor: pointer;
  visibility: hidden;
  
}
.botonUsuario{
  background:    #ffffff;
  border:        1% solid #2b86da;
  border-radius: 1%;
  padding:       0.5% 2%;
  font:          normal bold 0.8vw/1 "Open Sans", sans-serif;
  text-align:    right;
  text-decoration: none;
  position: absolute;
  left: 87.5%;
  top: 43%;
  max-width: 100%;
  height: auto;
}
.acerca{
  color: turquoise;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.8vw;
  position: absolute;
  left: 74%;
  top: 50%;
  text-decoration: none;
  max-width: 100%;
  height: auto;
}
#box {
  font-family: 'Arial', sans-serif;
  position: absolute;
  font-weight: bold;
  font-size: 0.8vw;
  left: 75%;
  top:14%;
  max-width: 100%;
  height: auto;
}

#box-date {
  margin: 4% 0;
  display: block;
  max-width: 100%;
  height: auto;
}

#box-date span {
  color: #848d95;
  font-size: 80%;
  max-width: 100%;
  height: auto;

}

#box-time {
  color: #848d95;
  font-size: 120%;
  display: block;
  position: fixed;
  left: 88%;
  top: 3%;
  max-width: 100%;
  height: auto;
}

span.hm-time, span.s-time {
  padding: 8% 7%;
  border-radius: 1%;
}

/* Aquí se cambia el color de fondo de las horas y los minutos */
span.hm-time {
  background: #24AADD;
  color: #FFF;
}

/* Aquí se cambia el color de fondo de los segundos */
span.s-time {
  background: #E5E5E5;
}

span.f-time {
  font-size: 0.8vw;
}

.nombreUsuario{
    color: black;
    font-size: 1.8vw;
    position: absolute;
    left:3%;
    top:18%;
    font-weight: bold;
    font-style: arial;
}
.cajaMensaje{
  position: absolute;
  left: 3%;
  top:26%;
  max-width: 100%;
  height: auto;
  
}

.Enviar{
  position: absolute;
  left: 26.3%;
  top:37%;
  max-width: 100%;
  height: auto;
}

.campoDerecha{
  position: absolute;
  left: 40%;
  top:24.5%;
  background-color: white;
  width: 55%;
  height: 70%;
  border: 2px solid black;
  font-weight: bold;
  font-family: fantasy;
  font-size: 100%;
  
}
.button1{
  background:    #4c85d1;
  border-radius: 20%;
  padding:       7.5% 7.5%;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 1vw/1 "Open Sans", sans-serif;
  text-align:    center;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 5.7%;
  
}
.button2{
  background:    #4c85d1;
  border-radius: 20%;
  padding:       7.5% 7.5%;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 1vw/1 "Open Sans", sans-serif;
  text-align:    center;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 30%;
  
}
.button3{
  background:    #4c85d1;
  border-radius: 20%;
  padding:       7.5% 7.5%;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 1vw/1 "Open Sans", sans-serif;
  text-align:    center;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 55%;
  
}
.button4{
  background:    #4c85d1;
  border-radius: 20%;
  padding:       7.5% 7.5%;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 1vw/1 "Open Sans", sans-serif;
  text-align:    center;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 79.5%;
  
}
.button5{
  background:    #4c85d1;
  border-radius: 20%;
  padding:       7.5% 7.5%;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 1vw/1 "Open Sans", sans-serif;
  text-align:    center;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 33%;
  left: 5.7%;
  
}
.button6{
  background:    #4c85d1;
  border-radius: 20%;
  padding:       7.5% 7.5%;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 1vw/1 "Open Sans", sans-serif;
  text-align:    center;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 33%;
  left: 30%;
  
}
.button7{
  background:    #4c85d1;
  border-radius: 20%;
  padding:       7.5% 7.5%;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 1vw/1 "Open Sans", sans-serif;
  text-align:    center;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 33%;
  left: 55%;
  
}

.button8{
  background:    #4c85d1;
  border-radius: 20%;
  padding:       7.5% 7.5%;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 1vw/1 "Open Sans", sans-serif;
  text-align:    center;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 33%;
  left: 79.5%;
  
}
.button9{
  background:    #4c85d1;
  border-radius: 20%;
  padding:       7.5% 7.5%;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 1vw/1 "Open Sans", sans-serif;
  text-align:    center;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 60%;
  left: 15%;
  
}
.button10{
  background:    #4c85d1;
  border-radius: 20%;
  padding:       7.5% 7.5%;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 1vw/1 "Open Sans", sans-serif;
  text-align:    center;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 60%;
  left: 43%;
  
}
.button11{
  background:    #4c85d1;
  border-radius: 20%;
  padding:       7.5% 7.5%;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 1vw/1 "Open Sans", sans-serif;
  text-align:    center;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 60%;
  left: 70%;
  
}



.buttonAcc {
  background-color:#413c3c;
	border-radius:40%;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1vw;
	padding:3% 4%;
	text-decoration:none;
  position: absolute;
  top: 80%;
  left:31%;
}

.mascota{
  position: absolute;
  top:  72%;
  left: 55%;
  max-width: 100%;
  height: auto;
}
.textAcc{
  color:black;
  font-family: fantasy;
  font-weight: bold;
  font-size: 0.7vw;
  position: absolute;
  left: 32%;
  top: 93%;
  z-index: 1;
  text-decoration: none;
}
.nuevosEncargos{
  color:black;
  font-family: fantasy;
  font-weight: bold;
  font-size: 0.7vw;
  position: absolute;
  top: 20%;
  left: 9%;
  max-width: 100%;
  height: auto;
}

.trabajosAcabados{
  color:black;
  font-family: fantasy;
  font-weight: bold;
  font-size: 0.7vw;
  position: absolute;
  top: 20%;
  left: 33%;
  max-width: 100%;
  height: auto;
}

.trabajosPendientes{
  color:black;
  font-family: fantasy;
  font-weight: bold;
  font-size: 0.7vw;
  position: absolute;
  top: 20%;
  left: 57%;
}

.materialesCriticos{
  color:black;
  font-family: fantasy;
  font-weight: bold;
  font-size: 0.7vw;
  position: absolute;
  top: 20%;
  left: 82%;
}

.pedidosConfirmados{
  color:black;
  font-family: fantasy;
  font-weight: bold;
  font-size: 0.7vw;
  position: absolute;
  top: 47%;
  left: 8%;
}

.facturasVencidas{
  color:black;
  font-family: fantasy;
  font-weight: bold;
  font-size: 0.7vw;
  position: absolute;
  top: 47%;
  left: 33.5%;
}

.facturasNuevas{
  color:black;
  font-family: fantasy;
  font-weight: bold;
  font-size: 0.7vw;
  position: absolute;
  top: 47%;
  left: 58%;
}

.pendientesPorCobrar{
  color:black;
  font-family: fantasy;
  font-weight: bold;
  font-size: 0.7vw;
  position: absolute;
  top: 47%;
  left: 81.5%;
}

.mensajesSinLeer{
  color:black;
  font-family: fantasy;
  font-weight: bold;
  font-size: 0.7vw;
  position: absolute;
  top: 73%;
  left: 17.5%;
}

.mensajesDestacados{
  color:black;
  font-family: fantasy;
  font-weight: bold;
  font-size:0.7vw;
  position: absolute;
  top: 73%;
  left: 44.5%;
}

.otros{
  color:black;
  font-family: fantasy;
  font-weight: bold;
  font-size: 0.7vw;
  position: absolute;
  top: 73%;
  left: 77%;
}

.InuevosEncargos{
  position: absolute;
  left: 10.5%;
  top:10%;
}

.ItrabajosAcabados{
  position: absolute;
  left: 35.5%;
  top:10%;
}

.ItrabajosPendientes{
  position: absolute;
  left: 60%;
  top:10%;
}

.ImaterialesCriticos{
  position: absolute;
  left: 84%;
  top:10%;
}

.IpedidosConfirmados{
  position: absolute;
  left: 10.5%;
  top:37%;
}

.IfacturasVencidas{
  position: absolute;
  left: 35.5%;
  top:37%;
}

.IfacturasNuevas{
  position: absolute;
  left: 60.5%;
  top:37%;
}

.IpendientesPorCobrar{
  position: absolute;
  left: 84%;
  top:37%;
}

.ImensajesSinLeer{
  position: absolute;
  left: 19%;
  top:65%;
}

.ImensajesDestacados{
  position: absolute;
  left: 47.3%;
  top:65%;
}

.Iotros{
  position: absolute;
  left: 75.5%;
  top:65%;
}
